# Configurações do servidor
PORT=3333

# Configurações do template (caminho para templates)
TEMPLATE_PATH=./src/domain/pdf/views

# Configurações da AWS S3 / MinIO
AWS_BUCKET_NAME=pdf-contracts
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_ENDPOINT=http://localhost:9000
AWS_REGION=us-east-1
